## **Case Background:** 
Blinkit is a quick-commerce grocery delivery service in India that prioritizes speed and convenience, delivering orders, often within 10-20 minutes, from a network of local stores. Its revenue in 2024 was $270 Million.  

The objective of this analysis is to conduct a comprehensive analysis of Blinkit's sales performance, customer satisfaction, and inventory distribution to identify key insights and opportunities for optimization using various KPIs and visualizations in Power BI.

## **Data Analysis requirements:** 
1. Total Sales: The overall revenue generated from all items sold.
2. Average Sales: The average revenue per sale.
3. Number of Items: The total count of different items sold.
4. Average Rating: The average customer rating for items sold. 

## **Visualisation using the guiding points:** 
1. Total Sales by Fat Content:
	Objective: Analyze the impact of fat content on total sales.
	Additional KPI Metrics: Assess how other KPIs (Average Sales, Number of Items, Average Rating) vary with fat content.
	
2. Total Sales by Item Type:
	Objective: Identify the performance of different item types in terms of total sales.
	Additional KPI Metrics: Assess how other KPIs (Average Sales, Number of Items, Average Rating) vary with fat content.
	
3. Fat Content by Outlet for Total Sales:
	Objective: Compare total sales across different outlets segmented by fat content.
	Additional KPI Metrics: Assess how other KPIs (Average Sales, Number of Items, Average Rating) vary with fat content.
	
4. Number of Outlet Establishments added by year:
	Objective: Analyse the increase in outlets added each year.
	
5. Sales by Outlet Size:
	Objective: Analyze the correlation between outlet size and total sales.
	
6. Sales by Outlet Location:
	Objective: Assess the geographic distribution of sales across different locations.
	

## **Conclusion**
Key KPIs (from Dashboard)
- Total Sales: 1.20M
- Average Sales: 140.99
- Number of Items: 9K
- Average Rating: 3.92

1. Total Sales by Fat Content
    Observations:
      - Regular Fat: ₹776K (64.6% of total sales)
      - Low Fat: ₹425K (35.4% of total sales)
    Insight:
      - Regular fat products contribute more to total sales.
      - There is an opportunity to promote low-fat products among health-conscious customers to increase their share.

2. Total Sales by Item Type
    Observations:
      - Top Performing Categories:
        - Fruits and Vegetables: ₹0.18M
        - Snack Foods: ₹0.18M
        - Household Items: ₹0.14M
        - Frozen Food: ₹0.12M
        - Dairy: ₹0.10M
      - Low Performing Categories:
        - Seafood: ₹0.01M
        - Breakfast, Starchy Foods, Others: Each under ₹0.02M
    Insight:
      - High demand for fresh and convenient food categories.
      - Opportunity to enhance visibility and marketing for niche categories like seafood and breakfast items.

3. Fat Content by Outlet for Total Sales
    Observations:
      - Tier 3:
        - Regular: ₹0.31M
        - Low Fat: ₹0.17M
      - Tier 2:
        - Regular: ₹0.25M
        - Low Fat: ₹0.14M
      - Tier 1:
        -  Regular: ₹0.22M
        -  Low Fat: ₹0.12M    
    Insight:
      - Tier 3 outlets outperform others in both fat categories.
      - Suggests a wider customer base or higher order frequency in smaller cities/towns.
        

4. Number of Outlet Establishments Added by Year
    Observations:
      - 2000s: High growth (peak at 1463 outlets)
      - 2010: Sharp decline to 555 outlets
      - 2012 onward: Stabilized between 926–930 outlets per year
      - 2021: 928 outlets
    Insight:
      - Sharp decline around 2010 could indicate restructuring or market challenges.
      - Stable outlet growth post-2012 reflects a mature operational model. cities/towns.

5. Sales by Outlet Size
    Observations:
      - High Size: ₹507.9K (42.27%)
      - Small Size: ₹444.79K (37.0%)
      - Medium Size: ₹248.99K (20.72%)
    Insight:
      - High-size outlets generate the most revenue.
      - Medium outlets underperform—opportunity for operational optimization. cities/towns.


6.  Sales by Outlet Location
     Observations:
      - Tier 3: ₹0.47M
      - Tier 2: ₹0.39M
      - Tier 1: ₹0.34M
     Insight:
      - Tier 3 regions contribute the highest to sales.
      - Indicates strong demand in non-metro areas—suggest focusing expansion and logistics in these markets.cities/towns.

7.  KPI Monitoring by Outlet Type
     Observations:
       - Supermarket Type 1:
         - Total Sales: ₹787.55K
         - Number of Items: 5577
         - Average Sales: ₹141
         - Average Rating: 3.92
         - Item Visibility: 338.65
       - Grocery Store:
         -  Total Sales: ₹151.94K
         -  Number of Items: 1083
         -  Average Sales: ₹140
         -  Average Rating: 3.93
         -  Item Visibility: 113.57
       - Supermarket Type 2:
         - Total Sales: ₹131.48K
         - Number of Items: 928
         - Average Sales: ₹139
         - Average Rating: 3.93
         - Item Visibility: 56.62
       - Supermarket Type 3:
         - Total Sales: ₹130.71K
         - Number of Items: 935
         - Average Sales: ₹140
         - Average Rating: 3.91
         - Item Visibility: 54.80    

    Insight:
      - Supermarket Type 1 leads across all KPIs including visibility.
      - Type 2 and Type 3 outlets have low item visibility—need to improve product discovery through better UI/UX and promotions.

## **Strategic Recommendations**
- Improve visibility and promotional strategies for underperforming categories like seafood and breakfast items.

- Promote low-fat options in Tier 1 and Tier 2 outlets to cater to evolving health trends.

- Prioritize growth in Tier 3 cities and expand high-performing large-format outlets.

- Enhance item visibility for Supermarket Type 2 and 3 through improved categorization and search features.

- Investigate the 2010 outlet drop to inform risk management and strategic decisions in future expansions.

## Import Libraries

In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import Dataset

In [99]:
df = pd.read_csv("C:/Users/hvsra/Desktop/Data_Analytics/Blinkit_Sales/blinkit_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item Fat Content           8523 non-null   object
 1   Item Identifier            8523 non-null   object
 2   Item Type                  8523 non-null   object
 3   Outlet Establishment Year  8523 non-null   int64
 4   Outlet Identifier          8523 non-null   object
 5   Outlet Location Type       8523 non-null   object
 6   Outlet Size                8523 non-null   object
 7   Outlet Type                8523 non-null   object
 8   Item Visibility            8523 non-null   float64
 9   Item Weight                7060 non-null   float64
 10  Sales                      8523 non-null   float64
 11  Rating                     8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [100]:
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2010,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2000,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

## Exploring the dataset

In [102]:
df.dtypes

Item Fat Content              object
Item Identifier               object
Item Type                     object
Outlet Establishment Year      int64
Outlet Identifier             object
Outlet Location Type          object
Outlet Size                   object
Outlet Type                   object
Item Visibility              float64
Item Weight                  float64
Sales                        float64
Rating                       float64
dtype: object

In [103]:
df['Item Fat Content'].value_counts()

Item Fat Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

- Comment: Seems like LF and reg and low fat need to be renamed

In [105]:
df['Item Identifier'].value_counts() #There are 1559 types, Is this column relavant to the analysis?

Item Identifier
FDW13    10
FDG33    10
FDF56     9
FDF52     9
FDV38     9
         ..
FDK57     1
FDO33     1
DRF48     1
FDC23     1
FDE52     1
Name: count, Length: 1559, dtype: int64

In [106]:
df['Item Type'].value_counts() #clean, no need to clean it further

Item Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64

In [107]:
df['Outlet Establishment Year'].value_counts()

Outlet Establishment Year
1998    1463
2000     932
2012     930
2010     930
2017     930
2015     929
2022     928
2020     926
2011     555
Name: count, dtype: int64

- Most Establishments were formed in 1998 and there is a good mix of old and new businesses

In [109]:
df['Outlet Identifier'].value_counts() #Not relavant to analysis

Outlet Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: count, dtype: int64

In [111]:
df['Outlet Location Type'].value_counts()

Outlet Location Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: count, dtype: int64

- Many more stores in Tier 3 cities as compared to tier 1 and tier 2

In [113]:
df['Outlet Size'].value_counts()

Outlet Size
Medium    3631
Small     3139
High      1753
Name: count, dtype: int64

In [114]:
df.groupby(['Outlet Location Type', 'Outlet Size']).size()

Outlet Location Type  Outlet Size
Tier 1                Medium          930
                      Small          1458
Tier 2                High            588
                      Medium          573
                      Small          1624
Tier 3                High           1165
                      Medium         2128
                      Small            57
dtype: int64

- Bigger the city, focus on smaller outlets is higher and vice versa

In [116]:
df['Item Visibility'].describe()

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item Visibility, dtype: float64

- Check what this colum describes

In [118]:
df['Item Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item Weight, dtype: float64

- Assuming its in grams. All items are very leightweight

In [120]:
df['Sales'].describe()

count    8523.000000
mean      140.992782
std        62.275067
min        31.290000
25%        93.826500
50%       143.012800
75%       185.643700
max       266.888400
Name: Sales, dtype: float64

- Average sales is 140, minimum is 31 and max is 266

In [122]:
df['Rating'].describe()

count    8523.000000
mean        3.965857
std         0.605651
min         1.000000
25%         4.000000
50%         4.000000
75%         4.200000
max         5.000000
Name: Rating, dtype: float64

- Mean is close to 4, most customers are satisfied with their orders

## Data Cleaning

Step 1: Cleaning Item Fat Content from LF, low fat to 'Low fat' and reg to 'Regular'

In [155]:
df['Item Fat Content'] = df['Item Fat Content'].replace({'LF':'Low Fat','low fat':'Low Fat','reg':'Regular'})
print(df['Item Fat Content'].unique())

['Regular' 'Low Fat']
['Regular' 'Low Fat']

## Data analysis requierments

In [201]:
# Total Sales: The overall revenue generated from all items sold.
Total_sales = df['Sales'].sum()

# Average Sales: The average revenue per sale.
Average_sales = df['Sales'].mean()

# Number of Items: The total count of different items sold
Number_of_items = df['Item Identifier'].count()

# Average Rating: The average customer rating for items sold
Average_rating = df['Rating'].mean()

print(f"The total sales is $.{Total_sales:,.0f}")
print(f"The average sales is $.{Average_sales:,.0f}")
print(f"The number of items is {Number_of_items}")
print(f"The average rating is {round(Average_rating,2)}")

The total sales is Rs.1,201,681
The average sales is Rs.141
The number of items is 8523
The average rating is 3.97

In [205]:
df.to_csv('Blinkit_powerbi.csv', index=False)